<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Chariot - Urban Observatory</title>
    <link rel="stylesheet" href="stylesheets/submit.css" />
</head>
<body>

    <div class="rowone" id="rowone" style="height: 100%;">
        <div class="columnone" style="background-color: white; border-right: 2px solid black;">
            <a href="/submit" style="text-decoration: none;">
                <div class="container" style="height: 40%; margin-top: 35%;">
                    Submit Your Data
                </div>
            </a>
        </div>
        <div class="columnone" style="background-color: white;">
            <div class="container" style="height: 40%; margin-top: 35%;">
                <a href="http://google.com">Bye</a>
                <p>Bye</p>
            </div>
        </div>
    </div>
</body>
</html>
