<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Responsive horizontal page</title>
    <link rel="stylesheet" href="stylesheets/new.css" />
</head>
<body>

    <div class="sidenav">
    </div>

    <div class="container" data-0="transform:translateX(0%); " data-1000="transform:translateX(-400%);">
        <section>
            <div class="content vertical-menu">
                <div class="vertical">
                    <ul>
                        <li class="vertical_list" id="realtime" data-index="0">
                            Menu
                            <h1>This is explanation of this</h1>
                        </li>
                        <img src="/images/red.png" id="real" alt="png">
                        <li class="vertical_list" id="test" data-index="1">Menu</li>
                        <li class="vertical_list" data-index="2">Menu</li>
                        <li class="vertical_list" data-index="3" style="font-size: 4em;">Explore & Ask</li>
                    </ul>

                </div>
            </div>
        </section>
        <section>
            <div class="content">
                <h2>What questions can I ask about my city?</h2>
                <p id="questionsintro">Start With A Question and See Where It Takes You! </p>
                <p id="questions">Scroll ---> </p>

            </div>
        </section>
        <section>
            <div class="content">
                <h2>Who</h2>
                <div class="verticalFlip">
                    <span>are the MPs in My Neighbourhood?</span>
                    <span>is responsible for?</span>
                    <span>are the main users of metro?</span>
                </div>
            </div>
        </section>
        <section>
            <div class="content">
                <h2>What</h2>
                <p>If you’re eligible to enter Canada, you will need to self-isolate for 14 days after arrival, and prior to departure you must present the airline with a negative test performed within 72 hours of boarding your flight. This will apply to travellers by land from 15 February. From 22 February, travellers arriving in Canada by land and air will be required to take an additional test on arrival, and another toward the end of the 14 day self-isolation period. International travellers arriving at Toronto Pearson airport are already required to take an additional COVID-19 test on arrival. From 22 February, air travellers will also be required to spend 3 nights in a government authorised hotel. Transport Canada has issued updated</p>
            </div>
        </section>
        <section>
            <div class="content">
                <h2>When</h2>
                <p>If you’re eligible to enter Canada, you will need to self-isolate for 14 days after arrival, and prior to departure you must present the airline with a negative test performed within 72 hours of boarding your flight. This will apply to travellers by land from 15 February. From 22 February, travellers arriving in Canada by land and air will be required to take an additional test on arrival, and another toward the end of the 14 day self-isolation period. International travellers arriving at Toronto Pearson airport are already required to take an additional COVID-19 test on arrival. From 22 February, air travellers will also be required to spend 3 nights in a government authorised hotel. Transport Canada has issued updated</p>
            </div>
        </section>
        <section>
            <div class="content">
                <h2>Section One</h2>
                <p>If you’re eligible to enter Canada, you will need to self-isolate for 14 days after arrival, and prior to departure you must present the airline with a negative test performed within 72 hours of boarding your flight. This will apply to travellers by land from 15 February. From 22 February, travellers arriving in Canada by land and air will be required to take an additional test on arrival, and another toward the end of the 14 day self-isolation period. International travellers arriving at Toronto Pearson airport are already required to take an additional COVID-19 test on arrival. From 22 February, air travellers will also be required to spend 3 nights in a government authorised hotel. Transport Canada has issued updated</p>
            </div>
        </section>
    </div>
    <script type="text/javascript" src="/javascripts/skrollr.min.js"></script>
    <script type="text/javascript">
        var s = skrollr.init();
    </script>
</body>
</html>
